.formulario{
    background:#04254d1a;
    padding: 5%;
    font-size: 1rem;
}

.formulario__titulo-pregunta {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    padding: .5rem;
    text-align: center;
}

.formulario__titulo-descripcion {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5;
}

.form{
    width:95%;
    margin: 2rem auto;
    background:#dbeaff;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding: 10px 20px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    position:relative
}

.form label {
    background: #fbfbfb;
    padding: 0.5rem;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:block;
    margin:28px 0 0;
    color:#373737;
}

.form input{
    background: #fbfbfb;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    outline:none;
    resize:none;
    border:0;
    font-family: 'Open Sans', sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

.form .form-submit {
    float:right;
    padding:8px 12px;
    margin:8px 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    border:2px solid #78788c;
    border-radius: 5px;
    color:#fbfbfb;
    cursor:pointer;
    transition:all .3s;
    background-color: #0a3871;
}

/* .form-submit:hover{
    background:#78788c;
    color:#fff;
} */
.form p {
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

.formulario div{
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size: 0.75rem;
    box-shadow:10px 10px 40px -14px #000;
    display: flex;
    justify-content: space-around;
}

.formulario span{
    margin:1px 5px 1px 15px;
}