footer {
    background-color: #594076;
    color: #fbfbfb;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.5rem 0;
    line-height: 1.5;
    box-shadow: 0 -6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: end;
    position: relative;
}

.footer__contenido {
    margin: 1rem;
}

.footer__linea1 {
    width: 80%;
    height: 4px;
    background-color: #594076;
    position: absolute;
    top: -18px;
}

.footer__linea2 {
    width: 90%;
    height: 6px;
    background-color: #594076;
    position: absolute;
    top: -10px;
}