header {
    color: #fff;
    width: 100%;
    background-color: #0a3871;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 0;

}

.head__logo {
    font-family: 'Babylonica', cursive;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

.head__logo span {
    font-size: 1.6rem;
}

.head__enlace  li:nth-child(1n) {
    display: none;
}

.head__enlace  li:last-child {
    display: block;
    margin-right: 15px;
}