.presentacion {
    background: url(/imagenes/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 10%;
}

.titulo {
    font-family: 'Montserrat', serif;
    color: #04254d;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;

    padding: 1.5rem 1rem;
}

.contenido {
    color: #04254d;
    font-size: 1rem;
    line-height: normal;
    text-align: justify;

    padding: 0 1rem 2.5rem 1rem;
}

.presentacion__foto {
    width: 50%;
    height: 50%;
    border-radius: 40% 10% 20% 0;
    border: 4px inset #65b8d8;
}

.sobreMi {
    background: #fbcb8d;
}