.sobreMi {
    background-color: #b6757018;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.sobreMi__fondo{
    width: 100%;
    height: max-content;
    position: absolute;
    margin: auto auto;
    opacity: 0.2;
    align-self: center;
}

.sobreMi p {
    text-align: left;
}

.sobreMi__icono-sonrie {
    width: 40px;
    margin-left: 5%;
}

@media screen and (min-width: 860px) {
    .sobreMi {
        padding: 2% 10% 5% 10%;
    }

    .sobreMi__fondo{
        max-width: 40%;
        
    }
}
